include pug/mixins

doctype html
html(lang="ru")
	include pug/head
	body
		a(href='./index.html')
			h1 О нас
		br
		br
		br
		+image('thanks.jpg')
		.asdasd
			.swiper-wrapper
				.swiper-slide 111111111111111
				.swiper-slide 222222222222222
				.swiper-slide 333333333333333
				.swiper-slide 444444444444444
				.swiper-slide 555555555555555
			.swiper-pagination
			.swiper-button-prev
			.swiper-button-next
			.swiper-scrollbar